.plot1 {
  background-color: #262a2c;
  color: #b1b1b1;
  padding: 10px 0;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

@media (min-width: 56em) {
  .plot1 {
    width: 200%;
    transform: translate(-25%);
    text-align: center;
  }
}

#plot1_container {
  /*border: 1px solid blue;*/
  height: 450px;
}

.plotCheckBoxes {
  padding: 0 0 20px 0;
}

#yAxisSelectorWrapper {
  display: flex;
  justify-content: center;
}

#yAxisSelectorWrapper label {
  margin-right: 15px;
}

#yAxisSelector {
  background-color: #b1b1b1;
  -webkit-appearance: none;
}

#plot1_title_container {
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

@media (min-width: 56em) {
  #plot1_title_container {
    display: flex;
    font-size: 18px;
    height: 40px;
  }
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#axisLabel {
  fill: #b1b1b1;
}

svg text::selection {
  background: none;
}

#plot1_title_container div {
  margin-left: 20px;
  padding: 5px;
  text-decoration: underline;
}

.stackedAreaBorder {
  stroke: none;
  stroke-opacity: 1;
  stroke-width: 1;
  fill: none;
}

.verticalLinesContainer {
  stroke-width: 1;
  pointer-events: none;
}

.sliderBox .topLine {
  /*stroke: black;*/
  stroke-opacity: 1;
  stroke-width: 1;
  fill: none;
}

.sliderBox .outerTick {
  stroke: black;
  stroke-opacity: 1;
  stroke-width: 1;
  fill: none;
}

.sliderBox .xbrush rect.selection,
.sliderBox .xbrush .handle {
  /*stroke:red;*/
  /*visibility: hidden;*/
  height: 10px;
  transform: translate(0px, 25px);
}

.upperLinesContainer path {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.xAxis,
.xAxis path,
.xAxis .tick line {
  stroke: #b1b1b1;
}

.yAxis,
.yAxis path,
.yAxis .tick line {
  stroke: #b1b1b1;
}

#aboveRectContainer rect {
  fill: rgba(255, 255, 255, 0.2);
}
#aboveRectContainer line {
  stroke: #b1b1b1;
}
#aboveRectContainer rect.redWarning {
  fill: rgba(255, 0, 0, 0.2);
}
#aboveRectContainer line.redWarning {
  stroke: red;
}

#currentDateDisplayed {
  font-size: 14px;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

/*------------AXIS OF THE TIME SLIDER-------------------*/
.sliderBox g path,
.sliderBox g line,
.sliderBox g tick,
.sliderBox .outerTick,
.sliderBox text {
  stroke: #b1b1b1;
}

/* DATA TABLE */

#helper_container {
  display: block;
}

#table_container {
  width: 100%;
  padding: 0 1em 0 1em;
}

#plot2_container {
  flex-grow: 1;
  height: 300px;
}

#tableTitle {
  font-size: 16px;
  padding: 5px 0 10px;
  font-weight: bold;
}

table {
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #b1b1b1;
  margin: auto;
  counter-reset: tableCount;     
}

.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

thead,
tbody,
tr,
td,
th {
  display: block;
}

tr:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 30px;
  line-height: 30px;
  /*text-align: left;*/
}

tbody {
  height: 425px;
  overflow-y: auto;
}

thead {
  /* fallback */
  width: 97%;
  /* minus scroll bar width */
  width: calc(100% - 17px);
}

tbody {
  border-top: 2px solid #b1b1b1;
}

tbody td,
thead th {
  width: 8%;
  float: left;
  border-right: 1px solid #b1b1b1;
}

tbody td {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 30px 0.3rem;
  height: 85px;
  vertical-align: middle;
}

#dcTable tr th:nth-child(1), ._0 {
  width: 5%;
}

#dcTable tr th:nth-child(3), ._2 {
  width: 40%;
}

._2 {
  text-align: left;
  padding: 0.25rem 0.3rem;
}

#dcTable tr th:nth-child(4), ._3 {
  width: 15%;
}

/*tbody td a {
  vertical-align: middle;
}*/

tbody td:last-child,
thead th:last-child {
  border-right: none;
}

.thumbnail {
  display: inline;
  margin: 0;
  border-radius: 0;
  vertical-align: middle;
}

.videoTitle {
  padding-left: 5px;
}


/*#dcTable {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

#dcTable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

.dc-table-section {
  display: none;
}

.youtubeIcon {
  margin: 0;
  padding: 5px 5px;
}
