#youtubePlayerBox{
  /*display: none;*/
  position: fixed;
  background-color:#b1b1b1;
  padding: 5px;
  cursor: grab;
  border: 1px solid black;
  user-select: none;
}

#youtubePlayerBox.grabbed{
  cursor: grabbing;
}

#youtubePlayerBox.minusDisplayed{
  left:0px;
  top:0px;
  width: 100px;
  height:100px;
}
#youtubePlayerBox.centerDisplayed{
  x:300px;
  y:400px;
  width: 200px;
  height:100px;


}

#youtubePlayerBox .corner,#youtubePlayerBox .minusButton{
  /*display: none;*/
  position: absolute;
  width:20px;
  height: 20px;

}
#youtubePlayerBox .topLeft{
  top:-5px;
  left:-5px;
  cursor: auto;
  z-index: 1;
}

#youtubePlayerBox .minusButton{
  top:-5px;
  left:20px;
  cursor: auto;
  z-index: 1;
}

#youtubePlayerBox .topRight{
  top:0px;
  right:0px;
  cursor: nesw-resize;
}

#youtubePlayerBox .bottomLeft{
  bottom:0px;
  left:0px;
  cursor: nesw-resize;
}

#youtubePlayerBox .bottomRight{
  bottom:0px;
  right:0px;
  cursor: nwse-resize;
}

#youtubePlayerBox iframe{
  /*display: none;*/
  position: relative;
  width:100%;
  height: 100%;
  border: 1px solid #b1b1b1;
  padding-bottom: 1px;

}
